{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>

  <!-- template.html -->
<h1>Testing Template Rendering</h1>

<!-- if else and operators -->
  {% if "Ann" not in mymembers%}
  <h1>Hello Ann</h1>
  {% else %}
  <h1>Goodbye</h1>
  {% endif %}

  {% if x is not y %}
  <h1>Yes</h1>
  {% else %}
  <h1>No</h1>
  {% endif %}

  {% with var1=x var2=x %}
  {% if var1 is var2%}
  <h1>YES</h1>
  {% else %}
  <h1>NO</h1>
  {% endif %}
  {% endwith %}

{% with firstname="Tobias"%}
<h1>Hello {{ firstname }}, how are you?</h1>
{% endwith %}

<!-- For Loop -->
 <!-- For loop for the fruits -->
  <!-- template.html -->
{% if fruits %}
<ul>
    {% for x in fruits %}
        <li>{{ x }}</li>
    {% endfor %}
</ul>

{% else %}
<p>No fruits found.</p>
{% endif %}

{% for x in mymembers %}
<h1>{{ x }}</h1>
{% endfor %}

{% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %}

{% for x in cars %}
<h1>{{ x.brand }}</h1>
<p>{{ x.model }}</p>
<p>{{ x.year }}</p>
{% endfor %}


  {% for x in mymembers %}
  <li>{{ x.firstname }}</li>
  {% endfor %}


<p>In views.py you can see different returns from different objects</p>

{% for x in members %}
  <h1>{{ x.id }}</h1>
  <p>
    {{ x.firstname }}
    {{ x.lastname }}
  </p>
{% endfor %}  

<p>In views.py you can see how to import and fetch members from the database.</p>

  
<ul>
  {% for x in emptytestobject %}
    <li>{{ x.firstname }}</li>
  {% empty %}
    <li>No members</li>
  {% endfor %}
</ul> 

<ul>
  {% for x in myobject %}
    <li>{{ x.firstname }}</li>
  {% empty %}
    <li>No members</li>
  {% endfor %}
</ul> 

<ul>
  {% for x in fruits %}
    <li>{{ forloop.counter }}</li>
  {% endfor %}
</ul> 

<h1>Welcome {# Everyone#}</h1>
{% comment %}
  <h1>Welcome ladies and gentlemen</h1>
{% endcomment %}

<h1>Hello</h1>

<p>This page contains a footer in a template.</p>

{% include 'footer.html' %} 


{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

<h1>Welcome</h1>

<p>This is my webpage</p>

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
      <td>{{ x.phone }}</td>
    </tr>
  {% endfor %}
</table>

</body>
</html>