<!DOCTYPE html>
<html>
<body>

  <!-- template.html -->
<h1>Testing Template Rendering</h1>

<!-- if else and operators -->
  {% if "Ann" not in mymembers%}
  <h1>Hello Ann</h1>
  {% else %}
  <h1>Goodbye</h1>
  {% endif %}

  {% if x is not y %}
  <h1>Yes</h1>
  {% else %}
  <h1>No</h1>
  {% endif %}

  {% with var1=x var2=x %}
  {% if var1 is var2%}
  <h1>YES</h1>
  {% else %}
  <h1>NO</h1>
  {% endif %}
  {% endwith %}

{% with firstname="Tobias"%}
<h1>Hello {{ firstname }}, how are you?</h1>
{% endwith %}

<!-- For Loop -->
 <!-- For loop for the fruits -->
  <!-- template.html -->
{% if fruits %}
<ul>
    {% for x in fruits %}
        <li>{{ x }}</li>
    {% endfor %}
</ul>

{% else %}
<p>No fruits found.</p>
{% endif %}
{% for x in mymembers %}
<h1>{{ x }}</h1>
{% endfor %}

{% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %}

{% for x in cars %}
<h1>{{ x.brand }}</h1>
<p>{{ x.model }}</p>
<p>{{ x.year }}</p>
{% endfor %}


  {% for x in Member %}
  <li>{{ x.firstname }}</li>
  {% endfor %}


<p>In views.py you can see different returns from different objects</p>

{% for x in mymembers %}
  <h1>{{ x.id }}</h1>
  <p>
    {{ x.firstname }}
    {{ x.lastname }}
  </p>
{% endfor %}  

<p>In views.py you can see how to import and fetch members from the database.</p>

  


  
</body>
</html>